
<div class="row">
  <div class="col-4">
    <h2>Phòng họp</h2>
    <h5>Hình ảnh:</h5>
    <img alt="RIKAI-TECHNOLOGY" style="float: left;width: 100%" src="/assets/hop.jpg" />
    <p>Buổi họp đầu tiên giữa các thực tập sinh viên tại Rikai</p>
    <h3>Some Links</h3>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="https://www.facebook.com/rikai.technology/" target="_blank">Facebook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.rikai.technology/"target="_blank">Website công ty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>
    </ul>

    <hr>
nav-link
    <h3>Một số khóa học cơ bản</h3>
    <ul class="nav nav-pills flex-column">
      <% Cour.all.each do |cour| %> 
        <li ><%= link_to cour.name, cour %></li>
      <% end %>
    </ul>

    <hr class="d-sm-none">
  </div>
  <div class="col-8">
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg">Fake Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="col-md-13 mb-md-0 mb-3">
      <div class="embed-responsive embed-responsive-16by9 mb-6">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IZgi52ALeEQ"
          allowfullscreen></iframe>
      </div>
    </div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>

