
<!DOCTYPE html>
<html>
  <head>
    <title>Test2</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="mfAVDCm3gyeUoEDAGjmp/AKzdB+JnDC/t2DZCImqiCAbgs/tTH6sgeAh36WnByFws1vhl8epXx/ycvmqWU6jfw==" />
    <link rel="stylesheet" media="all" href="/assets/scaffolds.self-347ba7d042baabec713f8d3258e6ae816afb920c049e01017cfb2cca8f98967c.css?body=1" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/assets/static_pages.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/assets/users.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/assets/application.self-f0d704deea029cf000697e2c0181ec173a1b474645466ed843eb5ee7bb215794.css?body=1" data-turbolinks-track="reload" />
    <script src="/assets/rails-ujs.self-2b8935521e2301b06b45bd42e623eb0c0acf76c3a6ba383b7429c6a2884f8c23.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/activestorage.self-1ed4604ac2170045f1ffca4edb81a75246661555e4f9cf682bb8a21825e32e1c.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/turbolinks.self-569ee74eaa15c1e2019317ff770b8769b1ec033a0f572a485f64c82ddc8f989e.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/action_cable.self-69fddfcddf4fdef9828648f9330d6ce108b93b82b0b8d3affffc59a114853451.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/cable.self-8484513823f404ed0c0f039f75243bfdede7af7919dda65f2e66391252443ce9.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/static_pages.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/users.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/application.self-66347cf0a4cb1f26f76868b4697a9eee457c8c3a6da80c6fdd76ff77e911715e.js?body=1" data-turbolinks-track="reload"></script>

  <style>
    #header {
      background-image: url("/assets/lap.jpg");
      background-repeat: no-repeat;
      min-height: 100%;
      background-size: 100% 88%;
    }
    #jumbotron_id{
    background: unset;
    height: 350px;
    }
  </style>

  </head>
  <body>
    <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap 4 Website Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>
<div id="header">
  <div class="jumbotron text-center" style="margin-bottom: -54px;" id="jumbotron_id">
    <div style="margin-top: -2%; color: white;">
    <img alt="RIKAI-TECHNOLOGY" style="float: left;width: 50px;" src="/assets/rikai.png" />
    <h1 style="float: left;">RIKAI TECHNOLOGY </h1>
      <h1 style ="    clear: left;"> Welcombe to RIKAI TECHNOLOGY </h1>
      <h4 style ="    clear: left;"> Chúng tôi cung cấp niềm tin </h4>
      <h4 style ="    clear: left;">  Nhật Bản có văn phòng tại Tokyo và Việt Nam có các cơ sở phát triển tại Hà Nội, Đà Nẵng và Hồ Chí Minh. Từ loại phòng thí nghiệm đến phát triển ứng dụng điện thoại thông minh loại hợp đồng, ứng dụng web, phát triển trò chơi, hệ thống kinh doanh, v.v., nó góp phần vào sự thành công của khách hàng theo yêu cầu của khách hàng.</h4>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Trang Chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Khóa học</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Thông tin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hỗ trợ</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Phòng họp</h2>
      <h5>Hình ảnh:</h5>
      <div><img alt="RIKAI-TECHNOLOGY" style="float: left;width: 349px" src="/assets/hop-0de83175156f79eaf2380194073352a1426a1b261f741e87c7d06961d2325686.jpg" /></div>
      <p>Buổi họp đầu tiên giữa các thực tập sinh viên tại Rikai</p>
      <h3>Some Links</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="https://www.facebook.com/rikai.technology/" target="_blank">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.rikai.technology/"target="_blank">Website công ty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="col-md-13 mb-md-0 mb-3">
        <div class="embed-responsive embed-responsive-16by9 mb-6">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IZgi52ALeEQ"
            allowfullscreen></iframe>
        </div>
      </div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
</div>
<!-- <div class="jumbotron text-center" style="margin-bottom:0"> -->
  <!-- Footer -->
	<footer class="page-footer font-small blue pt-4">

	  <!-- Footer Links -->
	  <div class="container-fluid text-center text-md-left">

	    <!-- Grid row -->
	    <div class="row">

	      <!-- Grid column -->
	      <div class="col-md-6 mt-md-0 mt-3">

	        <!-- Content -->
	        <h5 class="text-uppercase">Footer Content</h5>
	        <h6>Trụ sở chính: Tòa nhà NFV, 27A Hoàng Việt, phường 4, quận Tân Bình, thành phố Hồ Chí Minh, Việt Nam.</h6>
          <h6>Email: contact@rikai.Technology</h6>
          <h6>Điện thoại: (+81) 03 3447 6278</h6>
	      </div>
	      <!-- Grid column -->

	      <hr class="clearfix w-100 d-md-none pb-3">

	      <!-- Grid column -->
	      <div class="col-md-6 mb-md-0 mb-3">

	        <!-- Links -->
	        <!-- <h5 class="text-uppercase">Links</h5> -->
	      </div>
	      <!-- Grid column -->
	    </div>
	    <!-- Grid row -->
	  </div>
	  <!-- Footer Links -->

	  <!-- Copyright -->
	  <div class="footer-copyright text-center py-3">© 2019 HoChiMinh City:
	    <a href="https://www.rikai.technology/"> Rikai Technology </a>
	  </div>
	  <!-- Copyright -->
	</footer>
	<!-- Footer -->
</body>
</html>
  </body>
</html>
