<!-- <div class="jumbotron text-center" style="margin-bottom:0"> -->
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Footer Content</h5>
            <h6>Trụ sở chính: Tòa nhà NFV, 27A Hoàng Việt, phường 4, quận Tân Bình, thành phố Hồ Chí Minh, Việt Nam.</h6>
            <h6>Email: contact@rikai.Technology</h6>
            <h6>Điện thoại: (+81) 03 3447 6278</h6>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-6 mb-md-0 mb-3">

            <!-- Links -->
            <!-- <h5 class="text-uppercase">Links</h5> -->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 HoChiMinh City:
        <a href="https://www.rikai.technology/"> Rikai Technology </a>
      </div>
      <!-- Copyright -->
    </footer>
   <!-- Footer -->
