<div id="header">
  <div class="container-fluid text-center">
    <div class="jumbotron" style="width: 100%;" id="jumbotron_id">
      <div style="margin-top: -2%; color: white;">
      <img alt="RIKAI-TECHNOLOGY" style="float: left;width: 50px;" src="/assets/rikai.png" />
      <h1 align="center" style="float: left; margin-top: -10px;">RIKAI {TECHNOLOGY} </h1>
        <h1 align="center" style ="clear: left;"> Welcombe to Rikai {Technology} </h1>
        <h4 align="center" style ="clear: left;"> Chúng tôi cung cấp niềm tin </h4>
        <h4 align="center" style ="clear: left;">  Nhật Bản có văn phòng tại Tokyo và Việt Nam có các cơ sở phát triển tại Hà Nội, Đà Nẵng và Hồ Chí Minh. Từ loại phòng thí nghiệm đến phát triển ứng dụng điện thoại thông minh loại hợp đồng, ứng dụng web, phát triển trò chơi, hệ thống kinh d  oanh, v.v., nó góp phần vào sự thành công của khách hàng theo yêu cầu của khách hàng.</h4>
      </div>
    </div>
  </div>
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Trang Chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Khóa học</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Thông tin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hỗ trợ</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a href="">Profile</a></li>
              <li><a href="">Settings</a></li>
              <li class="divider"></li>
            </ul>
          </li>
      </ul>

    </div>
  </nav>
</div>